*{
    box-sizing: border-box;
    font-family: "Oxygen",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --color-background: #030307;
    --color-white: #fff;
    --color-blue: #d910b1;
}

body{
    background-color: var(--color-background);
    color: var(--color-white);

}

a {
    color: var(--color-blue);
    
}

.hero{
    background: linear-gradient(rgba(150, 13, 97, 0.122), var(--color-background));
    position: relative;
    min-height: 100vh;

}

.hero__background{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    position:absolute;
    z-index: -10;
    top: 0;
}

.hero__foreground{
    color: var(--color-white);
    text-align: center;
    padding-top: 40vh;
}

.hero__title{
    font-size: 7rem;
    font-weight: 400;
}

.hero__text{
    font-size: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.section{
    overflow: hidden;
    text-align: center;
    padding: 0 8rem;
}

.section__title{
    font-size: 4rem;
    font-weight: 300;
    margin: 4rem auto;
}
.section__img,
.section__img-inline {
    width: 100%;
    border-radius: .75rem;
    box-shadow: 0 1rem 2rem -0.5rem rgba(236, 7, 152, 0.916) ;
    /* eixo x, eixo y, blur, expansão/recuo, cor */
    object-fit: cover;
    object-position: center;
    position: static;
    max-height: 50rem;
}

.section__text,
.section_text-inline{
    font-size: 1.25rem;
    line-height: 1.75;
    margin: 4rem auto;
}

.section__img-inline{
    float: left;
    height: 25rem;
    width: 20rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
.section__text-inline{
    margin-top: 6rem;
    text-align: left;
}

.section__text-inline > p {
    margin-top: 1.5rem;
    font-size: 1rem;
}
#hangouts img{
    object-position: center;
}

.gallery__img{
    border-radius: .75rem;
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    transform:rotate(-2deg); /* deg = degrees*/
}

.gallery__img-wrapper{
    display: inline-block;
    position: relative;
}

.gallery__img-wrapper + .gallery__img-wrapper{
    margin-left: 1rem;
    margin-top: 1rem;
}

.gallery__img-wrapper:nth-child(even) > .gallery__img{
    transform: rotate(2deg);
    top: 1rem;
}


@media only screen and (min-height: 844px){

    *{
        box-sizing: border-box;
        font-family: "Oxygen",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    :root{
        --color-background: #030307;
        --color-white: #fff;
        --color-blue: #d910b1;
    }
    
    body{
        background-color: var(--color-background);
        color: var(--color-white);
    
    }
    
    a {
        color: var(--color-blue);
        
    }
    
    .hero{
        background: linear-gradient(rgba(150, 13, 97, 0.122), var(--color-background));
        position: relative;
        min-height: 100vh;
        overflow: hidden;
    }
    
    .hero__background {
        width: 100%;
        height: 100vh;
        object-fit:cover;
        position:absolute;
        z-index: -10;
        top: 0;
        
    }
   
    .hero__foreground{
        color: var(--color-white);
        text-align: center;
        object-fit: cover;
        padding-top: 40vh;
    }
    
    .hero__title{
        font-size: 3rem;
        font-weight: 300;
        margin: 4rem auto
    }
    .hero__text{
        font-size: .75rem;
        margin-top: 1rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
    }
    .section{
        overflow:hidden;
        text-align:center;
        padding: 2rem;
    }
    .section__title{
        font-size: 2rem;
        font-weight: 300;
        margin: 4rem 1rem;
    }
    .section__img,
    .section__img-inline {
    width: 100%;
    border-radius: .75rem;
    box-shadow: 0 1rem 2rem -0.5rem rgba(236, 7, 152, 0.916) ;
    /* eixo x, eixo y, blur, expansão/recuo, cor */
    object-fit: cover;
    object-position: center;
    position: static;
    max-height: 40rem;
}
    .section__text,
    .section_text-inline{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 4rem 1rem;
}

}
